
body{
    background-image: url("/img/Inicio_D.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.botonContinuar{
    background-color: #F2F2F2;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 200px;
    margin-top: 81vh;
}